@import "foundation";
@import "settings";
@import 'motion-ui';

@include motion-ui-transitions;
//@include foundation-everything;

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-label;
@include foundation-reveal;
@include foundation-top-bar;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-tooltip;
/*
@include foundation-accordion;
@include foundation-table;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-media-object;
@include foundation-callout;
@include foundation-breadcrumbs;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-flex-video;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-switch;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
*/

.top-bar-left{
    a{
        &.active{
            color: $yellow;
            font-weight: bold;
        }
    }
}

.top-bar-right{
    .menu{
        a{
            padding-top: 0;
            padding-bottom: 0;
        }
        #txtId{
            margin-right: 0;
        }
    }
}

#results{
    margin: 0 auto;
    .book{
        width: 332px;
        height: 497px;
        white-space: nowrap;
        text-align: center; 
        display: inline-block;
        padding: 10px;
        .img-helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
        img {
            vertical-align: middle;
            max-height: 475px;
            max-width: 310px;
        }
    }


}

.hidden{
    display: none;
}

.qtip-gr{
    background: $secondary-color;
    color: $body-font-color;
    border-color: $secondary-color;
    max-width: 310px;
   h2{
        font-size: 1.2rem;
        margin: 0;
    }
    h3{
        font-size: 0.9rem;
    }
    h4{
        font-size: .9rem;
    }
    h5{
        font-size: .9rem;
        color: $yellow;
    }
    a, a:hover, a:active{
        color: $yellow;
    }
}
.qtip-default .qtip-icon{
    background: $secondary-color;
    border-color: $secondary-color;;
    color: #FFFFFF;
    right: 0;
    top: 0;
    font-size: 1.1rem;
}
.rating{
    font-size: 1.1rem;
    color: $yellow;
    display: inline-block;
    margin-right: 1rem;
}
.averageRating{
    font-size: 1.1rem;
}
.description{
    font-size: 0.9rem;
    padding-top: 0.5rem;
}

#overlay { 
    display: none;
    position:absolute; 
    top: 0;
    background: $black; 
    opacity: 0.8;
    width: 100%;
    height: 100%;    
}
#img-load { 
    position:absolute; 
    top: 150px;
    left: 50%;
}